
__pycache__/
.idea/
save/
TrainedData_ori/
word2vec_models/

TrainedData/*.p
TrainedData/*.pth
TrainedData/*.csv



*.p


analyse/~$test.xlsx
analyse/cnn_kim.txt
analyse/xml_cnn.txt
analyse/capsule.txt
analyse/test.xlsx
test.py
test.py
.ipynb_checkpoints/test-checkpoint.ipynb
test.ipynb
